<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iomc.baseModel.mapper.ModelExtendMapper">

    <resultMap id="BaseResultMap" type="cn.iomc.baseModel.entity.ModelExtendEntity">
            <id property="id" column="ID" jdbcType="INTEGER"/>
            <result property="configCode" column="CONFIG_CODE" jdbcType="VARCHAR"/>
            <result property="dsCode" column="DS_CODE" jdbcType="VARCHAR"/>
            <result property="delFlag" column="DEL_FLAG" jdbcType="TINYINT"/>
            <result property="createUserId" column="CREATE_USER_ID" jdbcType="VARCHAR"/>
            <result property="createUserName" column="CREATE_USER_NAME" jdbcType="VARCHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateUserId" column="UPDATE_USER_ID" jdbcType="VARCHAR"/>
            <result property="updateUserName" column="UPDATE_USER_NAME" jdbcType="VARCHAR"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,CONFIG_CODE,DS_CODE,
        DEL_FLAG,CREATE_USER_ID,CREATE_USER_NAME,
        CREATE_TIME,UPDATE_USER_ID,UPDATE_USER_NAME,
        UPDATE_TIME
    </sql>
</mapper>
